<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-forum-heading" jhiTranslate="dogPalsApp.dogPalsForumForum.home.createOrEditLabel">Create or edit a Forum</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dogPalsApp.dogPalsForumForum.topic" for="field_topic">Topic</label>
                    <select class="form-control" name="topic" formControlName="topic" id="field_topic">
                        <option value="Toys">{{ 'dogPalsApp.ListTopic.Toys' | translate }}</option>
                        <option value="Diet">{{ 'dogPalsApp.ListTopic.Diet' | translate }}</option>
                        <option value="Adoption">{{ 'dogPalsApp.ListTopic.Adoption' | translate }}</option>
                        <option value="Tricks">{{ 'dogPalsApp.ListTopic.Tricks' | translate }}</option>
                        <option value="Training">{{ 'dogPalsApp.ListTopic.Training' | translate }}</option>
                        <option value="Health">{{ 'dogPalsApp.ListTopic.Health' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('topic')!.invalid && (editForm.get('topic')!.dirty || editForm.get('topic')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('topic')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
