<div class="row">
    <ngb-carousel class="center">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/AboutUsImageOnly.png" alt="About Us" style="margin:auto;" class="center2">
        </div>
        <br>
        <div class="picsum-img-wrapper">
          <img src="../../assets/AboutUsText.png" alt="About Us" style="margin:auto;" class="center2">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/TrainingImageOnly.png" alt="About Us" style="margin:auto;" class="center2">
        </div>
        <br>
        <div class="picsum-img-wrapper">
          <img src="../../assets/TrainingText.png" alt="Training" style="margin:auto;" class="center2">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/ForumImageOnly.png" alt="About Us" style="margin:auto;" class="center2">
        </div>
        <br>
        <div class="picsum-img-wrapper">
          <img src="../../assets/ForumText.png" alt="Forum" style="margin:auto;" class="center2">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  