<div>
    <h2 id="page-heading">
    <span>Community</span>
    </h2>
    
    <jhi-alert-error></jhi-alert-error>
    
    <jhi-alert></jhi-alert>
    
    <!--Search or Add post-->
    <div class="container-fluid mt-100">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="col-lg-">
                <form name="searchForm" class="form-inline">
                    <div class="input-group w-100 mt-3">
                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'dogPalsApp.dogPalsForumPost.home.search' | translate }}">
                        
                        <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                        </button>
                        
                        <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                        </button>
                    </div>
                </form>
            </div>
            <div>
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-post" [routerLink]="['/post/new']">
                <fa-icon icon="plus"></fa-icon>
                <span class="hidden-sm-down">Add New Post</span>
                </button>
            </div>
        </div>
    </div>
    <!--Search and Add post-->
    
    <div class="alert alert-warning" id="no-result" *ngIf="posts?.length === 0">
        <span jhiTranslate="dogPalsApp.dogPalsForumPost.home.notFound">No posts found</span>
    </div>
    
    <!-- Forum List start-->
    <div class="inner-main-body p-2 p-lg-3 collapse forum-content show">
        <tr *ngFor="let post of posts ;trackBy: trackId">
            <div style="width: 1425px;height:auto;border:1px solid #CED4DA;" class="card mb-2">
                <div class="card-body p-2 p-sm-3">
                    <div class="media forum-item">
                        <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="../../../../assets/user.png" class="mr-3 rounded-circle" width="50" alt="User" /></a>
                        <div class="media-body">
                            <dd>
                                <span [routerLink]="['/post', post.id, 'view']">{{ post.content }}</span>
                            </dd>
                            <td></td>
                            <dd>
                                <span>{{ post.date | date:'medium' }}</span>
                            </dd> 
                        </div>
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/post', post.id, 'edit']" class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                            <button type="submit" (click)="delete(post)" class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
    </div>
    <!-- /Forum List end-->
</div> 
    
    