<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="post">
            <h2><span jhiTranslate="dogPalsApp.dogPalsForumPost.title">Title</span>: {{ post.title }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <!-- <dt><span jhiTranslate="dogPalsApp.dogPalsForumPost.title">Title</span></dt>
                <dd>
                    <span>{{ post.title }}</span>
                </dd> -->
                <dt><span jhiTranslate="dogPalsApp.dogPalsForumPost.content">Content</span></dt>
                <dd>
                    <span>{{ post.content }}</span>
                </dd>
                <dt><span jhiTranslate="dogPalsApp.dogPalsForumPost.date">Date</span></dt>
                <dd>
                    <span>{{ post.date | date:'medium' }}</span>
                </dd>
                <!-- <dt><span jhiTranslate="dogPalsApp.dogPalsForumPost.forum">Forum</span></dt>
                <dd>
                    <div *ngIf="post.forumId">
                        <a [routerLink]="['/forum', post.forumId, 'view']">{{ post.forumId }}</a>
                    </div>
                </dd> -->
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>
            
            <td class="float-right">
                <div class="btn-group">
                    <button type="submit" *jhiHasAnyAuthority="'ROLE_USER'" [routerLink]="['/post', post.id, 'edit']" class="btn btn-primary btn-sm">
                        <fa-icon icon="pencil-alt"></fa-icon>
                        <span class="d-none d-md-inline">Edit</span>
                    </button>
                    <button type="submit" *jhiHasAnyAuthority="'ROLE_USER'" (click)="delete(post)" class="btn btn-danger btn-sm">
                        <fa-icon icon="times"></fa-icon>
                        <span class="d-none d-md-inline">Delete</span>
                    </button>
                </div>
            </td>
        </div>
    </div>
</div>
